<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

    <div class="container">
     <h1>CRUD </h1>
        <div >
            <a class="button-3" th:href="@{/personas/nuevo}">Nuevo</a>
            <a class="button-3"   th:href="@{/personas}">Lista de Personas</a>
        </div>
    </div>

 
</body>
</html>
