<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Persona</title>
    <link rel="stylesheet" href="/formulario.css">
</head>
<body>
<form th:action="@{/auth-cookie/login}" th:object="${userRequest}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" th:field="*{password}" />
    </div>
    <input type="submit" value="Enviar" />
</form>
</body>
</html>